.MainMenu-mainBox {
    -fx-pref-height: 300px;
    -fx-pref-width: 200px;
    -fx-alignment: center;
    -fx-spacing: 40px;
}

.MainMenu-newGameBtn {
    -fx-font-size: 14px;
    -fx-text-fill: green;
}

.MainMenu-loadGameBtn {
    -fx-font-size: 14px;
    -fx-text-fill: blue;
}

.MapSelect-mainBox {
    -fx-pref-height: 300px;
    -fx-pref-width: 200px;
    -fx-spacing: 10px;
}

.MapSelect-button {

}

.MapSelect-startGameBtn {
    -fx-alignment: bottom-right;
}

.InGameScene-mainBox {

}

.InGameScene-playerPanel1 {
    -fx-background-color: lightblue;
}

.InGameScene-canvasBox {
    -fx-background-color: black;
}

.InGameScene-playerPanel2 {
    -fx-background-color: pink;
}

.PlayerPanel-mainBox {
    -fx-pref-width: 180px;
    -fx-alignment: top-center;
    -fx-spacing: 20px;
    -fx-font-size: 22px;
}

.PlayerPanel-playerLabel {

}

.PlayerPanel-turnLabel {

}

.PlayerPanel-ecoBox {
    -fx-spacing: 0px;
    -fx-padding: 10px;
}

.PlayerPanel-terrainInfo {
    -fx-alignment: center;
    -fx-pref-height: 100px;
}

.TerrainInfo-terrainNameLabel {

}

.PlayerPanel-unitInfo {
    -fx-spacing: 0px;
    -fx-padding: 10px;
    -fx-alignment: top-center;
}

.UnitInfo-nameLabel {

}

.UnitInfo-hpBox {

}

.UnitInfo-hpBar {
    -fx-pref-width: 160px;
}

.UnitInfo-hpLabel {

}

.UnitInfo-statsBox {

}

.StatRow-mainBox {

}

.StatRow-statNameLabel {

}

.StatRow-statValueLabel {

}